.center {
    text-align: center;
}

.account {
    background-color: #eaf0f9;
    height: 100%;
}

.profile {
    height: 15%;
    ion-icon {
        height: 50px;
        width: 50px;
    }
}

.score {
    height: 15%;
    font-size: 80px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 8px grey;
}

.multiplier {
    height: 20%;
    font-size: 60px;
    font-weight: bold;

    .cross:after {
        content: '\2716';
        font-size: 40px;
        position: relative;
        bottom: 5px;
        color: #bfccab;
    }
}

.categories {
    height: 16%;

    .category {
        height: 90%;
        display: flex;

        border: solid 1px #ddd;
        border-radius: 15px;
        margin: 10px;

        ion-img {
            width: 45%;
        }
    }

    .counter {
        font-weight: bold;
        font-size: 60px;
        margin: auto;
    }
}

.consume {
    background-color: rgba(var(--consume-color));
}

.diet {
    background-color: rgba(var(--diet-color));
}
.mobility {
    background-color: rgba(var(--mobility-color));
}

.household {
    background-color: rgba(var(--household-color));
}

.knowledge {
    background-color: rgba(var(--knowledge-color));
}

.empty {
    background-color: grey;
}
