<ion-card color="primary" [class]="(challenge?.categoryId | transformToCategory)?.name">
    <div id="abstract" #animationElement>
        <ion-grid id="head">
            <ion-row>
                <ion-col>
                    <ion-card-title>{{ challenge?.title }}</ion-card-title>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col size="5">
                        <ion-img
                            id="challenge_category_img"
                            [src]="(challenge?.categoryId | transformToCategory)?.imagePath"
                            [alt]="(challenge?.categoryId | transformToCategory)?.name"
                        ></ion-img>
                    </ion-col>
                    <ion-col id="description_col">
                        <p id="description">{{ challenge?.shortDescription }}</p>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </div>
    <div class="hints" #animationElement>
        <div id="hint_selection_container">
            <button
                *ngFor="let hint of challenge?.hints; let i = index"
                class="hintSelector {{ i == selectedHintTab ? 'selected' : '' }}"
                (click)="selectHintTab(i)"
                attr.aria-label="Select-button for hint {{ i }}"
            ></button>
        </div>
        <ion-slides #hintSlides class="hintSlides" [options]="slideHintFieldsOpts" (ionSlideDidChange)="swipeHint()">
            <ion-slide *ngFor="let hint of challenge?.hints" class="hintField" [innerHtml]="hint"> </ion-slide>
        </ion-slides>
    </div>
</ion-card>

<ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button id="done_button" color="success" (click)="finish()" #animationElement>
        <ion-icon name="checkmark"></ion-icon>
    </ion-fab-button>
</ion-fab>

<ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button id="close_button" color="danger" (click)="cancel()" #animationElement>
        <ion-icon name="close-outline"></ion-icon>
    </ion-fab-button>
</ion-fab>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button id="source_button" color="tertiary" (click)="showSource()" #animationElement>
        <ion-icon name="book"></ion-icon>
    </ion-fab-button>
</ion-fab>
