<div class="content-teaser" [ngClass]="{ selected: selected == true }">
    <div class="circle" (click)="select()">
        <ion-img *ngIf="challenge" [src]="(challenge.categoryId | transformToCategory)?.imagePath"></ion-img>
    </div>
    <div class="line"></div>
</div>
