.content-teaser {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 93vh;
    background-color: #424242;
}

.circle {
    position: relative;
    background-color: #4b4b4b;
    width: 90vw;
    height: 90vw;
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;

    @media (orientation: landscape) {
        max-width: 200px;
        max-height: 200px;
    }
}

ion-img {
    position: absolute;
    top: 20%;
    left: 17%;
    width: 60vw;
    height: 60vw;
    max-width: 200px;
    max-height: 200px;

    @media (orientation: landscape) {
        top: 15%;
        left: 13%;
        max-width: 150px;
        max-height: 150px;
    }
}

.line {
    height: 20vh;
    width: 3px;
    border: 2px dashed #707070;

    @media (orientation: landscape) {
        margin-bottom: 5vh;
    }
}

.selected {
    transition: background-color 1s ease;
    background-color: #ffffff;
    .circle {
        transition: background-color 0.5s ease;
        background-color: #f5f5f5;
    }
}
