:root {
    --consume-color: 202, 113, 81;
    --diet-color: 182, 221, 185;
    --mobility-color: 81, 133, 202;
    --household-color: 51, 145, 58;
    --knowledge-color: 224, 226, 67;
    --complete-color: 152, 212, 226;
}
