.consume {
    --current-color: var(--consume-color);
}
.diet {
    --current-color: var(--diet-color);
}
.mobility {
    --current-color: var(--mobility-color);
}
.household {
    --current-color: var(--household-color);
}
.knowledge {
    --current-color: var(--knowledge-color);
}
