/* roboto-100 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url('/assets/fonts/roboto-v27-latin-100.eot'); /* IE9 Compat Modes */
    src: local(''), url('/assets/fonts/roboto-v27-latin-100.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */ url('/assets/fonts/roboto-v27-latin-100.woff2') format('woff2'),
        /* Super Modern Browsers */ url('/assets/fonts/roboto-v27-latin-100.woff') format('woff'),
        /* Modern Browsers */ url('/assets/fonts/roboto-v27-latin-100.ttf') format('truetype'),
        /* Safari, Android, iOS */ url('/assets/fonts/roboto-v27-latin-100.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/assets/fonts/roboto-v27-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''), url('/assets/fonts/roboto-v27-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */ url('/assets/fonts/roboto-v27-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */ url('/assets/fonts/roboto-v27-latin-regular.woff') format('woff'),
        /* Modern Browsers */ url('/assets/fonts/roboto-v27-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */ url('/assets/fonts/roboto-v27-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

* {
    font-family: 'Roboto', sans-serif;
}
