.line {
    position: absolute;
    left: -2px;
    height: 5px;
    width: 0;
    background-color: rgb(var(--current-color));
    transform: rotate(-45deg);
    transform-origin: left;
    animation: grow 1s linear 1s forwards;
}

.line-1 {
    top: 15px;
}

.line-2 {
    top: 30px;
}

.line-3 {
    top: 45px;
}

@keyframes grow {
    to {
        width: 100px;
    }
}

ion-card {
    margin: 0;
    width: 100%;
    height: 100%;
    transition: all 1s ease;
    text-align: center;
    display: grid;
}

ion-card-title {
    align-self: start;
    margin-top: 2rem;
    font-size: 2.3rem;
}

ion-card-content {
    align-self: center;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: start;
}

ion-button {
    width: 7rem;
    height: 7rem;
    margin: auto;
    box-shadow: 0 0 0 0 rgba(var(--ion-color-success-rgb), 0.5);
    border-radius: 50%;
    animation: pulse-button 1.5s infinite;

    --border-radius: 50%;
}

.reload-button-container {
    align-self: end;
    margin-bottom: 1rem;
}

ion-icon {
    width: 100%;
    height: 100%;
}

@keyframes pulse {
    from {
        scale: 0.6;
    }
    to {
        scale: 1;
    }
}

@keyframes pulse-button {
    0% {
        transform: scale(0.9);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 50px rgba(var(--ion-color-success-rgb), 0);
    }
    100% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(var(--ion-color-success-rgb), 0);
    }
}
