<ion-content>
    <ion-card>
        <div class="line line-1" [class]="(challenge?.categoryId | transformToCategory)?.name"></div>
        <div class="line line-2" [class]="(challenge?.categoryId | transformToCategory)?.name"></div>
        <div class="line line-3" [class]="(challenge?.categoryId | transformToCategory)?.name"></div>
        <ion-card-title #animationElement> Tägliches Ziel Erreicht! </ion-card-title>
        <ion-card-content #animationElement *ngIf="challenge?.successMessage">
            {{ challenge?.successMessage }}
        </ion-card-content>
        <div class="reload-button-container">
            <ion-button #animationElement color="success" shape="round" size="large" (click)="retry()">
                <ion-icon name="reload-outline"></ion-icon>
            </ion-button>
        </div>
    </ion-card>
</ion-content>
